*.qws
*.bak
./db/*
*/incremental_db/*
*/output_files/*
DE10-Lite_v.2.0.2_SystemCD*
*.asm.*
*.cdf
*.done
*.fit.*
*.jdi
*.pin
*.pof
*.sof
*.sld
*.sta.*
/my_examples
/.vscode
*/*bak*
*/*.xrf
*/*msim*
*/*modelsim*
*/*nativelink*
*/*.eda.*
*/*.flow.*
*/*.vho
*/rtl_work
*/*.qdf
*.qdf
*/*.rpt
*/*.smsg
*/*.summary
*.summary*
*wlf
*/*wlf
*.sft
*/*.sft
*/*.qdf
*/*.qws
*/*.qip
*/*.qsf~
*/*.qws~
*/*.qip~
*/*.qdf~
*/*.qpf~
*/*.mti
*/*.mpf
*/simulation/*
*/.vscode
*.exe
./midterm.vhd
*.qui*
db/
incremental_db/
Brick_Breaker_nativelink*
Brick_Breaker.eda*
*rpt